<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/admin.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo">Admin Dashboard</div>
            <form action="/logout" method="GET">
                <button class="pbutton" type="submit">Logout</button>
            </form>
            
        </div>
    </header>

    <main class="main">
        <div class="content-container">
            <h1>Pending Chats</h1>
            <div class="chat-list">
                <% if (chats.length> 0) { %>
                    <% chats.forEach(chat=> { %>
                        <div class="chat-item">
                            <div class="chat-box">
                                <div class="chat-message">
                                    <p>
                                        <%= chat.message %>
                                    </p>
                                </div>
                                <div class="date-time">
                                    <p class="time">Time: <%= chat.created_at.toString().split(" ")[4] %></p>
                                    <p>Date: <%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
                                </div>
                                <div class=" status">
                                            <p class="pending-text">Pending</p>
                                </div>
                                <div class="actions">
                                    <form method="POST" action="/admin/chats/<%= chat._id %>/approve"
                                        style="display: inline;">
                                        <button type="submit" class="primary-button">Approve</button>
                                    </form>
                                    <form method="POST" action="/admin/chats/<%= chat._id %>/delete"
                                        style="display: inline;">
                                        <button type="submit" class="secondary-button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No pending chats to approve.</p>
                                <% } %>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            Admin Dashboard &copy; 2025
        </div>
    </footer>
</body>

</html>